

.ios, .md {

    page-location {

      div.a{
        text-align: center;
      }

      .scroll {
        height: 100%
      }

      #map {
        width: 100%;
        height: 400px;
      }

    }

  }
