.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

.blue{
  color: #01A9DB;
}

.gallery-img {
  height: 190px;
  border-radius: 15px;
}

.text-align{
  text-align:center;
}

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em !important;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
